<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ flashcard_name }}{% endblock %}</title>

    {% block metas %}{% endblock %}

    {% block javascripts %}
        <script type="text/javascript">
            var FC_BASEURL = '{{ app.request.getUri() }}';
        </script>
        {% spaceless %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        {% javascripts '@MooFlashCardBundle/Resources/public/js/*'  output='js/fc_script.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endspaceless %}
    {% endblock %}

    {% block init_javascript %}
        {# block for page to initiate js code #}
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets  "@MooFlashCardBundle/Resources/public/css/*"  output='css/fc_styles.css' %}
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets
        output='fonts/glyphicons-halflings-regular.ttf' '@MooFlashCardBundle/Resources/public/fonts/glyphicons-halflings-regular.ttf'
        output='fonts/glyphicons-halflings-regular.eot' '@MooFlashCardBundle/Resources/public/fonts/glyphicons-halflings-regular.eot'
        output='fonts/glyphicons-halflings-regular.svg' '@MooFlashCardBundle/Resources/public/fonts/glyphicons-halflings-regular.svg'
        output='fonts/glyphicons-halflings-regular.woff' '@MooFlashCardBundle/Resources/public/fonts/glyphicons-halflings-regular.woff'
        output='fonts/glyphicons-halflings-regular.woff2' '@MooFlashCardBundle/Resources/public/fonts/glyphicons-halflings-regular.woff2'
        %}{% endstylesheets %}

    {% endblock %}
</head>
{% block page_body_tag %}
<body>
{% endblock %}
<header class="text-center page-header">
    {% block page_header %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('moo_flashcard_index') }}">{{ flashcard_name }}</a>
                </div>
                {% if categories is defined %}
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown fc-categories">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">{% trans %}
                                    Categories{% endtrans %} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for category in categories %}
                                        <li role="presentation"><a
                                                    href="{{ app.request.getUri() }}api/cards.html?category={{ category.id }}"><span>{{ category.title }}</span><span
                                                        class="label label-info">{{ category.getCards.count() }}</span></a>
                                        </li>
                                        {% if not loop.last %}
                                            <li role="separator" class="divider"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>

                        <div class="row navbar-form navbar-right">
                            <form role="form" action="{{ app.request.getUri() }}api/cards.html" method="get">
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               placeholder="{% trans %}Search...{% endtrans %}" name="query"
                                               id="fc-search"/>
                                            <span class="input-group-btn">
                                                <button type="submit" id="fc-search-btn" class="btn btn-info">Go
                                                </button>
                                            </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
    {% endblock %}
</header>
<section class="container">
    <div class="container-inner">{% block body %}{% endblock %}</div>
</section>
</body>
<footer></footer>
</html>
