{% if card is not null %}
<div id="fc-card-{{ card.getId() }}" class="fc-card{% if popup is defined and popup is not empty %} popup{% endif %}">
<div class="panel panel-info">
    {% if card.isActive() and card.getCategory().isActive() %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ card.getTitle() }}</h3>
          <div class="share">
            {% if popup is defined and popup is not empty %}
            <button type="button" class="close" aria-hidden="true">&times;</button>
            {% endif %}

            {% if page_link is defined and page_link is not empty %}
            <div class="btn btn-default btn-xs share-btn"><a class="glyphicon glyphicon-link" href="{{ url('moo_flashcard_card', {slug: card.getSlug()}) }}"> </a></div>
            {% endif %}

            {% if share_link is defined and share_link is not empty %}
            {# move js script to outside this template #}
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
            <div class="share-btn"><div class="g-plus" data-action="share" data-annotation="none" data-href="{{ url('moo_flashcard_card', {slug: card.getSlug()}) }}"></div></div>
            <div class="share-btn"><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url('moo_flashcard_card', {slug: card.getSlug()}) }}" data-text="{{ card.getTitle() }}" data-via="satrun77" data-related="satrun77" data-count="none" data-dnt="false">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
          {% endif %}
          </div>
        </div>
        <div class="panel-body">
            {{ card.getContent()|raw }}
        </div>

        <div class="panel-footer">
            <ul>
                <li>{% trans %}Category{% endtrans %}: {{ card.getCategory().getTitle() }}</li>
                <li>{% trans %}Last modified{% endtrans %}: {{ card.getUpdated()|date('F j, Y') }}</li>
                <li class="last">{% trans %}Views{% endtrans %}: {{ card.getViews() }}</li>
            </ul>
        </div>
    {% else %}
        <div class="panel-body">
            <div class="alert alert-warning">{% trans %}You don't have access to view this Flash Card.{% endtrans %}</div>
        </div>
    {% endif %}
</div>
<div class="text-right text-muted"><small>{{ flashcard_name }} (ver. {{flashcard_version}}) &copy; Copyright {{ "now"|date("Y") }} - <a href="http://jamandcheese-on-phptoast.com/" target="_blank" class="btn-link">Mohamed Alsharaf</a></small></div>
</div>
{% endif %}
